#errorCatcher Echo
##
## Specifying an encoding of UTF-8 is usually safe, but if your text is 
## actually in Latin-1, then you should replace the string "UTF-8" with "latin-1"
## If you do this, you should also change the 'Content-Type' metadata below.
#encoding UTF-8
##
#set global $page = "home"

    #include "header.html.tmpl"
      
    <script type="text/javascript">
        var finalRotation;
        #if $Extras.has_key("mqtt_websockets_enabled") and $Extras.mqtt_websockets_enabled == '1'
        var mqttMsg;
        var mqttclient = "website" + Math.floor(Math.random() * 999999999);
        #end if
        var moment_locale = "$system_locale_js";
        moment.locale(moment_locale);
        
        var homepage_graphgroup = "$Extras.highcharts_homepage_graphgroup";
        
        ajaxweewx(); // Initial call to load from weewx (date, daily high, low, etc)
        
        #if $Extras.has_key("forecast_enabled") and $Extras.forecast_enabled == '1'
        // Load forecast
        ajaxforecast(); // Initial call to load forecast data like 8 day outlook, weather icon and observation text
        #end if
        
        #if $Extras.has_key("mqtt_websockets_enabled") and $Extras.mqtt_websockets_enabled == '0' and $Extras.has_key("webpage_autorefresh") and $Extras.webpage_autorefresh != '0'
        // Reload the page on an interval for updated data. This is for non-mqtt websocket websites
        function autoRefreshPage() {
            window.location = window.location.href;
        }
        setInterval('autoRefreshPage()', $Extras.webpage_autorefresh);
        #end if
        
        jQuery(document).ready(function() {
            get_outTemp_color( "$unit.unit_type.outTemp", "$current.outTemp.formatted" );
            
            rotateThis( "$current.windDir.formatted" );
            
            #if $Extras.has_key('earthquake_enabled') and $Extras.earthquake_enabled == '1'            
            if ( moment.unix( "$earthquake_time" ).isValid() ) {
                // Check that the time is the time (number) and not the "no earthquake available" wording
                jQuery(".earthquake-time").html( moment.unix( "$earthquake_time" ).utcOffset($moment_js_utc_offset).format( "$obs.label.time_earthquake" ) );
            } else {
                jQuery(".earthquake-time").html( "$earthquake_time" );
            }
            #end if
            
            #if $Extras.has_key('highcharts_enabled') and $Extras.highcharts_enabled == '1'
            var graphgroups_raw = $charts; // All charts and IDs
            var thisPageGraphs = graphgroups_raw[homepage_graphgroup]; // Filter all charts down to the ones we want for this page
            // Loop through the graph groups for this page and add the graph divs to the page
            try {
                thisPageGraphs.forEach( graphID => {
                    jQuery(".graph-outer").append('<div class="col-sm-6"><div id="' + graphID + '" style="width:100%;height:100%;margin-top:20px;"></div></div>');
                });
                showChart(homepage_graphgroup);
            } catch(err) {
                console.log("ERROR: Cannot add graphs from [" + homepage_graphgroup + "] graph group: " + err.message);
            }
            #end if
            
            #if $Extras.has_key("mqtt_websockets_enabled") and $Extras.mqtt_websockets_enabled == '1'
            connect(); // Begin mqtt after weewx initial load
            // If the Restart button is clicked, reconnect to mqtt and update weewx and forecast data
            jQuery(document).on('click', '.restart-interval', function() { 
                ajaxweewx(); // Update weewx data
                #if $Extras.has_key("forecast_enabled") and $Extras.forecast_enabled == '1'
                ajaxforecast(); // Update forecast data
                #end if
                ajaximages(); // Update radar and home page hook "img src" if present
                connect(); // Restart mqtt after weewx data's re-loaded
                #if $Extras.has_key('highcharts_enabled') and $Extras.highcharts_enabled == '1'
                showChart(homepage_graphgroup);
                #end if
            });
            
            #if $Extras.has_key("reload_hook_images") and $Extras.reload_hook_images == '1'
            // Update any images in the radar section or hooks
        
            #if $Extras.has_key("reload_images_radar") and $Extras.reload_images_radar != '-1'
                var reload_radar_timer = $Extras.reload_images_radar * 1000; // convert to millis
                setTimeout(function() { ajaximages("radar", $Extras.reload_images_radar); }, reload_radar_timer);
            #end if
            
            #if $Extras.has_key("reload_images_hook_asi") and $Extras.reload_images_hook_asi != '-1'
                var reload_asi_timer = $Extras.reload_images_hook_asi * 1000; // convert to millis
                setTimeout(function() { ajaximages("index-hook-after-station-info", $Extras.reload_images_hook_asi); }, reload_asi_timer);
            #end if

            #if $Extras.has_key("reload_images_hook_af") and $Extras.reload_images_hook_af != '-1'
                var reload_af_timer = $Extras.reload_images_hook_af * 1000; // convert to millis
                setTimeout(function() { ajaximages("index-hook-after-forecast", $Extras.reload_images_hook_af); }, reload_af_timer);
            #end if

            #if $Extras.has_key("reload_images_hook_as") and $Extras.reload_images_hook_as != '-1'
                var reload_as_timer = $Extras.reload_images_hook_as * 1000; // convert to millis
                setTimeout(function() { ajaximages("index-hook-after-snapshot", $Extras.reload_images_hook_as); }, reload_as_timer);
            #end if

            #if $Extras.has_key("reload_images_hook_ac") and $Extras.reload_images_hook_ac != '-1'
                var reload_ac_timer = $Extras.reload_images_hook_ac * 1000; // convert to millis
                setTimeout(function() { ajaximages("index-hook-after-charts", $Extras.reload_images_hook_ac); }, reload_ac_timer);
            #end if
            
            #end if
            
            #else
            // MQTT Websockets not enabled

            #if $Extras.has_key("show_last_updated_alert") and $Extras.show_last_updated_alert == '1'
            // Check if we need to alert on old information - if time now, minus the last update is greater than the threshold, show an alert.
            if ( ( Math.floor(new Date().getTime()/1000.0) - $Extras.last_updated_alert_threshold ) > $current.dateTime.raw ) {
                belchertown_debug("Last Updated Alert: The weewx report timestamp is "+$current.dateTime.raw+". The current timestamp is "+Math.floor(new Date().getTime()/1000.0)+". The threshold is "+$Extras.last_updated_alert_threshold+". Report timestamp is greater than threshold of current time, showing no update alert.");
                last_updated_alert_text = "<i class='fa fa-exclamation-triangle' style='color:red;'></i> $obs.label.header_last_updated_alert";
                jQuery(".last-updated-alert").html( last_updated_alert_text );
                jQuery(".last-updated-alert").show();
            }
            #end if
            
            // Update the Last Updated timestamp with moment.js,
            updated = moment.unix( $current.dateTime.raw ).utcOffset($moment_js_utc_offset).format("$obs.label.time_last_updated");
            updated_text = "$obs.label.header_last_updated " + updated;
            jQuery(".updated").html( updated_text );
            
            #end if
        });
        
    </script>
  
    <div class="site-inner">
        <main class="content">    

            <article class="weewx frontpage" itemscope="" itemtype="http://schema.org/CreativeWork">              
                <!-- First row with temperature, observation data and radar -->
                <div class="row temperature-row">
                    <div class="col-lg-4 toprow-height">
                        <div class="row obs-row">
                            <div class="weather-obs-top">
                            <!-- Temperature -->
                              <div class="col-sm-6 temp-col">
                                <div class="outtemp_outer"><span class="outtemp">$current.outTemp.formatted</span></div><!-- AJAX -->
                                #if $current.appTemp.has_data
                                <div class="feelslike">$obs.label.feels_like: $current.appTemp</div><!-- AJAX -->
                                #end if
                                <div class="stn-high-low">
                                  <table class="stn-high-low-table">
                                    <tbody>
                                      <tr>
                                        <td class="stn-high-low-table-title">$obs.label.highest_temperature</td>
                                        <td class="stn-high-low-table-title border-left">$obs.label.lowest_temperature</td>
                                      </tr>
                                      <tr>
                                        <td class="high">$day.outTemp.max</td>
                                        <td class="border-left low">$day.outTemp.min</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>

			      <!-- Wind -->
			      <div class="col-sm-6 wind-col">
                                <div class="compass">
                                  <div class="direction">
                                    <span class="curwinddir">
                                      #if $current.windDir.ordinal_compass == "N/A"
                                            --
                                      #else
                                      $current.windDir.ordinal_compass
                                      #end if
                                    </span>
                                    <span class="curwinddeg">
                                      #if $current.windDir.raw is None:
                                      -
                                      #else
                                      $current.windDir.format("%.0f")
                                      #end if
                                    </span>
                                  </div>
                                  <div class="arrow"></div>
                                </div>

				
                                <div class="col-sm-6 windspeedtable">
				  <table class="wind-table">
                                    <tbody>
                                      <tr>
                                        <td class="windtext">$obs.label.wind_speed</td>
                                        <td class="windtext border-left gust">$obs.label.wind_gust</td>
                                      </tr>
                                      <tr>
                                        <td>
                                          <span class="curwindspeed">
                                            $current.windSpeed.toString(addLabel=False, NONE_string="--")
                                          </span>
                                        </td>
                                        <td class="border-left gust">&nbsp;
                                          <span class="curwindgust">
                                            $current.windGust.toString(addLabel=False, NONE_string="--")
                                          </span>
                                        </td>
                                      </tr>
                                    </tbody>
			          </table>
				</div>
                              </div>

			      <!-- Station Observations -->
			      <div class="col-sm-6 obs-col">
				<div class="station-observations">
				  <table cellpadding="0" cellspacing="0">
                                    <tbody>
				      $station_obs_html
                                    </tbody>
				  </table>
				</div>
			      </div>
                            </div>
                        </div>
		    </div>

		    <!-- Weather History -->
                    <div class="row history-row">            
		      <div class="col-sm-12 stn-quick-stats-container">
		        
                        <!-- Today Snapshot Stats -->
                        <div class="col-sm-6 stn-quick-stats">
                          <div class="stats-title">
                            <span class="snapshot-records-today-header"></span><!-- JS and AJAX -->
                          </div>
                          <table>
                            <tr>
                              <td><b>$obs.label.snapshot_high:</b></td>    <td><span class="dailystatshigh">$day.outTemp.max</span></td><!-- AJAX -->
                              <td><b>$obs.label.snapshot_low:</b></td>    <td><span class="dailystatslow">$day.outTemp.min</span></td><!-- AJAX -->
                            </tr>
                            <tr>
                              <td><b>$obs.label.snapshot_today_avg_wind:</b></td>    <td><span class="dailystatswindavg">$day.wind.avg</span></td><!-- AJAX -->
                              <td><b>$obs.label.snapshot_today_high_wind:</b></td>        <td><span class="dailystatswindmax">$day.wind.max</span></td><!-- AJAX -->                    
                            </tr>
                            <tr>
                              <td><b>$obs.label.snapshot_today_rain:</b></td>    <td><span class="dailystatsrain">$day.rain.sum</span></td><!-- AJAX -->
                              <td><b>$obs.label.snapshot_today_rainrate:</b></td>    <td><span class="dailystatsrainrate">$day.rainRate.max</span></td><!-- AJAX -->
                            </tr>
                          </table>
                        </div>
			
                        <!-- This Month Snapshot Stats -->
                        <div class="col-sm-6 stn-quick-stats border-left">
                          <div class="stats-title">
                            <span class="snapshot-records-month-header"></span><!-- JS and AJAX -->
                          </div>
                          <table>
                            <tr>
                              <td><b>$obs.label.snapshot_high:</b></td>    <td><span class="monthstatshigh">$month.outTemp.max</span></td><!-- AJAX -->
                              <td><b>$obs.label.snapshot_low:</b></td>    <td><span class="monthstatslow">$month.outTemp.min</span></td><!-- AJAX -->
                            </tr>
                            <tr>
                              <td><b>$obs.label.snapshot_month_avg_wind:</b></td>    <td><span class="monthstatswindavg">$month.wind.avg</span></td><!-- AJAX -->
                              <td><b>$obs.label.snapshot_month_high_wind:</b></td>        <td><span class="monthstatswindmax">$month.wind.max</span></td><!-- AJAX -->
                            </tr>
                            <tr>
                              <td><b>$obs.label.snapshot_month_rain:</b></td>        <td><span class="monthstatsrain">$month.rain.sum</span></td><!-- AJAX -->
                              <td><b>$obs.label.snapshot_month_rainrate:</b></td>    <td><span class="monthstatsrainrate">$month.rainRate.max</span></td><!-- AJAX -->
                            </tr>
                          </table>
                        </div>
		      </div>
		    </div>

		    <!-- Almanac -->
		    <div class="row history-row">
		      #if $obs.label.sun_and_moon and $obs.label.sun_and_moon != ''
                      <span class="sun-moon-title">
                        $obs.label.sun_and_moon
                      </span>
                      #end if

		      <!-- Sunrise/Sunset -->
		      <span class="col-sm-5 sun">
                        <span class="sunrise-set-image"><img src="$relative_url/images/sunrise.png"></span><span class="sunrise-value"></span><!-- moment.js -->
                        <span class="sunrise-set-image"><img src="$relative_url/images/sunset.png"></span><span class="sunset-value"></span><!-- moment.js -->
                      </span>

		      <!-- Moon phase -->
		      <div class="col-sm-7 moon">
              <div class="moon-container">
                <span class="moon-icon">
                  #if $almanac.moon_index == 0
                  <div class='wi wi-moon-alt-new'></div>
                  #else if $almanac.moon_index == 1
                  <div class='wi wi-moon-alt-waxing-crescent-1 $hemisphere'></div>
                  #else if $almanac.moon_index == 2
                  <div class='wi wi-moon-alt-first-quarter $hemisphere'></div>
                  #else if $almanac.moon_index == 3
                  <div class='wi wi-moon-alt-waxing-gibbous-3 $hemisphere'></div>
                  #else if $almanac.moon_index == 4
                  <div class='wi wi-moon-alt-full'></div>
                  #else if $almanac.moon_index == 5
                  <div class='wi wi-moon-alt-waning-gibbous-3 $hemisphere'></div>
                  #else if $almanac.moon_index == 6
                  <div class='wi wi-moon-alt-first-quarter $hemisphere'></div>
                  #else if $almanac.moon_index == 7
                  <div class='wi wi-moon-alt-waning-crescent-4 $hemisphere'></div>
                  #end if
                </span>
                <strong><span class="moon-phase">#echo $almanac.moon_phase.title()#</span></strong><!-- AJAX -->
                <span class="moon-visible"><strong>$almanac.moon_fullness%</strong> $obs.label.moon_visible</span><!-- AJAX -->
              </div>
            </div>
		      </div>
        </div>
      <span class="version"></span> <!-- AJAX version -->
      <span class="updated"></span> <!-- AJAX moment.js -->
    </article>
  </main>
</div>
